.places {
    padding-left: 52px;
    margin-right: 52px;
    width: calc(100% - 100px*2);
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media screen and (max-width: 1279px) {
    .places {
        padding-left: 48px;
        margin-right: 48px;
        min-width: 928px;
        width: calc(100% - 48px*2);
    }
}
@media screen  and (max-width: 1023px) {
    .places {
        min-width: 720px;
        margin-bottom: 2px;
        padding-left: 24px;
        margin-right: 24px;
        width: calc(100% - 24px*2);
        gap: 73px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        min-width: 320px;
        gap: 50px;
    }
}