.places {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: calc(100% - 148px*2);
}

@media screen and (max-width: 1279px) {
    .places {
        margin-right: 48px;
        margin-left: 48px;
        min-width: 928px;
        width: calc(100% - 48px*2);
    }
}

@media screen  and (max-width: 1023px) {
    .places {
        margin-right: 24px;
        margin-left: 24px;
        min-width: 720px;
        margin-bottom: 2px;
        width: calc(100% - 24px*2);
    }
}

@media screen and (max-width: 767px) {
    .places {
        min-width: 320px;
        gap: 50px;
    }
}