.footer__link {
    text-decoration: none;
    font-weight: 400;
    color: white;
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    transition: transform 0.5s;
}

.footer__link:hover {
    opacity: .8;
    transform: scale(120%);
}

@media screen and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}